.clock-dial {
    width: 500px;
    height: 500px;
    border: 20px solid #00818a;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.point {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
}

.hour {
    font-size: 30px;
    font-weight: bold;
    color: black;
    position: absolute;
}

.hour-1 {
    top: 40px;
    right: 130px;
}

.hour-2 {
    top: 125px;
    right: 45px;
}

.hour-3 {
    top: 235px;
    right: 10px;
}

.hour-4 {
    top: 325px;
    right: 45px;
}

.hour-5 {
    top: 425px;
    right: 105px;
}

.hour-6 {
    top: 470px;
    right: 240px;
}

.hour-7 {
    top: 425px;
    right: 380px;
}

.hour-8 {
    top: 325px;
    right: 440px;
}

.hour-9 {
    top: 235px;
    right: 480px;
}

.hour-10 {
    top: 125px;
    right: 440px;
}

.hour-11 {
    top: 40px;
    right: 370px;
}

.hour-12 {
    top: 14px;
    right: 240px;
}

.minute-hand-wrapper {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
}

.minute-hand {
    position: relative;
}

.minute-hand .hand {
    width: 4px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 198px;
}

.minute-hand .arrow {
    font-size: 30px;
    font-weight: bold;
    color: black;
    transform: rotate(180deg);
    position: absolute;
    left: 192px;
    top: -8px;
}